{% extends "base.html" %}
{% block content %}

<h1>📚 Конспекты</h1>

<div class="grid">
{% for note in notes %}
<div class="card">
    <h2>{{note.title}}</h2>
    <p>{{note.subject}}</p>
    <p>Автор: {{note.owner.username}}</p>

    <a href="/uploads/{{note.filename}}">📥 Скачать</a>

    <form action="/like/{{note.id}}" method="post">
        <button>❤️ {{note.likes}}</button>
    </form>

    <form action="/comment/{{note.id}}" method="post">
        <input name="text" placeholder="Комментарий">
    </form>

    {% for c in note.comments %}
        <p>💬 {{c.text}}</p>
    {% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}
